pipeline/oas_take_up_all_regions.json
{
	"name": "oas_take_up_all_regions",
	"properties": {
		"activities": [
			{
				"name": "Ingest OAS Take Up for All Regions",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set End Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Nov 29 - MVP/Ingestion/Adobe Analytics/OAS Take Up",
					"baseParameters": {
						"segments": {
							"value": "@pipeline().parameters.segments",
							"type": "Expression"
						},
						"dimensions": {
							"value": "@pipeline().parameters.dimensions",
							"type": "Expression"
						},
						"metrics": {
							"value": "@pipeline().parameters.metrics",
							"type": "Expression"
						},
						"start_date": {
							"value": "@pipeline().parameters.start_date",
							"type": "Expression"
						},
						"end_date": {
							"value": "@variables('end_date')",
							"type": "Expression"
						},
						"output_file_path": {
							"value": "@pipeline().parameters.output_file_path",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "dbw_saeb_dev_01",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set End Date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "end_date",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcnow(),'UTC','Eastern Standard Time'), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"segments": {
				"type": "string",
				"defaultValue": "s300000938_61818052fc9c273678be270d, s300000938_6182d45e3680840e62af6271"
			},
			"dimensions": {
				"type": "string",
				"defaultValue": "variables/evar12, variables/georegion, variables/daterangemonth"
			},
			"metrics": {
				"type": "string",
				"defaultValue": "metrics/visitors,metrics/visits"
			},
			"start_date": {
				"type": "string",
				"defaultValue": "2018-01-01"
			},
			"output_file_path": {
				"type": "string",
				"defaultValue": "oas/oas-takeup/oas_takeup_all_regions.csv"
			}
		},
		"variables": {
			"end_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "1. Ingest/Adobe Analytics"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-10T23:46:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}