pipeline/Population_Estimates_Data.json
{
	"name": "Population_Estimates_Data",
	"properties": {
		"activities": [
			{
				"name": "Get_Pop_Est_Data",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Store_Password",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://logic-saeb-dev-01.azurewebsites.net:443/api/statscan-to-azure/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=us83VUS_wItMDKUgPV-Ssc_54emzMaQx1OAxhoSAy9U",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"username": "@variables('username')",
						"password": "@variables('password')",
						"uri": "@variables('uri')",
						"destinationpath": "@variables('destinationpath')"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			},
			{
				"name": "Fetch_Username",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kv-saeb-dev-01.vault.azure.net/secrets/statscan-username/305f38e63a2445059be325e30f1694d9?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Fetch_Password",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Store_Username",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kv-saeb-dev-01.vault.azure.net/secrets/statscan-password/face7016b661419f95cb8619266f2313?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Store_Username",
				"description": "@activity('Fetch_Username').output.value",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Fetch_Username",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "username",
					"value": {
						"value": "@activity('Fetch_Username').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Store_Password",
				"description": "@activity('Fetch_Password').output.value",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Fetch_Password",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "password",
					"value": {
						"value": "@activity('Fetch_Password').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"username": {
				"type": "String"
			},
			"password": {
				"type": "String"
			},
			"uri": {
				"type": "String",
				"defaultValue": "https://www150.statcan.gc.ca/t1/wds/rest/getFullTableDownloadCSV/17100005/en"
			},
			"destinationpath": {
				"type": "String",
				"defaultValue": "/statscan/population-estimates/input/"
			}
		},
		"folder": {
			"name": "1. Ingest/Statistics Canada"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-15T17:42:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}