adf-saeb-dev-01/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-saeb-dev-01"
		},
		"ls_adls_stasaebdevca01_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adls_stasaebdevca01'"
		},
		"ls_sqlpool_syn_sqlpool_saeb_dev_01_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sqlpool_syn_sqlpool_saeb_dev_01'"
		},
		"kv_saeb_dev_01_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-saeb-dev-01.vault.azure.net/"
		},
		"ls_adls_stasaebdevca01_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stsaebdevca01.dfs.core.windows.net/"
		},
		"delete-azure-webjobs-hosts_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/19bddd49-8e73-4699-930d-74baa7e5751e/resourceGroups/SAEB-AnalyticsPlatform-Dev/providers/Microsoft.Storage/storageAccounts/stsaebdevca01"
		},
		"delete-azure-webjobs-secrets_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/19bddd49-8e73-4699-930d-74baa7e5751e/resourceGroups/SAEB-AnalyticsPlatform-Dev/providers/Microsoft.Storage/storageAccounts/stsaebdevca01"
		},
		"oas_take_up_trigger_properties_oas_take_up_parameters_segments": {
			"type": "string",
			"defaultValue": "s300000938_6182dad72e2d5e1821037711, s300000938_6182db980c4dcc660fef89f2"
		},
		"oas_take_up_trigger_properties_oas_take_up_parameters_dimensions": {
			"type": "string",
			"defaultValue": "variables/clickmappage, variables/clickmaplink, variables/daterangeyear"
		},
		"oas_take_up_trigger_properties_oas_take_up_parameters_metrics": {
			"type": "string",
			"defaultValue": "metrics/clickmaplinkinstances"
		},
		"oas_take_up_trigger_properties_oas_take_up_parameters_start_date": {
			"type": "string",
			"defaultValue": "2018-01-01"
		},
		"oas_take_up_trigger_properties_oas_take_up_parameters_output_file_path": {
			"type": "string",
			"defaultValue": "oas/oas-takeup/oas_takeup_internal_link_clicks.csv"
		},
		"sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_segments": {
			"type": "string",
			"defaultValue": "s300000938_615b634e7ee37961ec011b09, s300000938_615c57f83207242d005be13c, s300000938_60d228c474f05e635fba03ff, s300000938_61a91e4c8626233f6d4a356c, s300000938_616db7a9910209746265973b"
		},
		"sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_dimensions": {
			"type": "string",
			"defaultValue": "metrics/averagetimespentonsite, variables/daterangeday, variables/evar11, variables/georegion, variables/evar5"
		},
		"sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_metrics": {
			"type": "string",
			"defaultValue": "metrics/visits"
		},
		"sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_output_directory": {
			"type": "string",
			"defaultValue": "sclabs-site-analytics/"
		},
		"sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_output_filename": {
			"type": "string",
			"defaultValue": "ds_adls_stsaebdevca01_csv_Fact_Metrics_By_FRHomePage"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Labour_Force_Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get_LFS_Data",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Store_Password",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://logic-saeb-dev-01.azurewebsites.net:443/api/statscan-to-azure/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=MRXW5veJUOZhudf0V_Epm8DhSBwcsAMWHxLNQWXejHo",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"username": "@variables('username')",
								"password": "@variables('password')",
								"uri": "@variables('uri')",
								"destinationpath": "@variables('destinationpath')"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					},
					{
						"name": "Fetch_Username",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://kv-saeb-dev-01.vault.azure.net/secrets/statscan-username/305f38e63a2445059be325e30f1694d9?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Fetch_Password",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Store_Username",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://kv-saeb-dev-01.vault.azure.net/secrets/statscan-password/face7016b661419f95cb8619266f2313?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Store_Username",
						"description": "@activity('Fetch_Username').output.value",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Fetch_Username",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "username",
							"value": {
								"value": "@activity('Fetch_Username').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Store_Password",
						"description": "@activity('Fetch_Password').output.value",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Fetch_Password",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "password",
							"value": {
								"value": "@activity('Fetch_Password').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"username": {
						"type": "String"
					},
					"password": {
						"type": "String"
					},
					"uri": {
						"type": "String",
						"defaultValue": "https://www150.statcan.gc.ca/t1/wds/rest/getFullTableDownloadCSV/14100017/en"
					},
					"destinationpath": {
						"type": "String",
						"defaultValue": "/statscan/labour-force/input/"
					}
				},
				"folder": {
					"name": "1. Ingest/Statistics Canada"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-24T20:59:18Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Population_Projections_Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get_Pop_Proj_Data",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Store_Password",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://logic-saeb-dev-01.azurewebsites.net:443/api/statscan-to-azure/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=MRXW5veJUOZhudf0V_Epm8DhSBwcsAMWHxLNQWXejHo",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"username": "@variables('username')",
								"password": "@variables('password')",
								"uri": "@variables('uri')",
								"destinationpath": "@variables('destinationpath')"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					},
					{
						"name": "Fetch_Username",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://kv-saeb-dev-01.vault.azure.net/secrets/statscan-username/305f38e63a2445059be325e30f1694d9?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Fetch_Password",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Store_Username",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://kv-saeb-dev-01.vault.azure.net/secrets/statscan-password/face7016b661419f95cb8619266f2313?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Store_Username",
						"description": "@activity('Fetch_Username').output.value",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Fetch_Username",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "username",
							"value": {
								"value": "@activity('Fetch_Username').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Store_Password",
						"description": "@activity('Fetch_Password').output.value",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Fetch_Password",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "password",
							"value": {
								"value": "@activity('Fetch_Password').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"username": {
						"type": "String"
					},
					"password": {
						"type": "String"
					},
					"uri": {
						"type": "String",
						"defaultValue": "https://www150.statcan.gc.ca/t1/wds/rest/getFullTableDownloadCSV/17100057/en"
					},
					"destinationpath": {
						"type": "String",
						"defaultValue": "/statscan/population-projections/input/"
					}
				},
				"folder": {
					"name": "1. Ingest/Statistics Canada"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-24T20:59:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/delete_azure_webjobs_hosts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delete azure-webjobs-hosts",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "azure_webjobs_hosts",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "1. Ingest/Clean Up"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T15:25:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/azure_webjobs_hosts')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/delete_azure_webjobs_secrets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delete azure-webjobs-secrets",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "azure_webjobs_secrets",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "1. Ingest/Clean Up"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T15:25:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/azure_webjobs_secrets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/oas_take_up')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ingest OAS Take Up Data",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Set End Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Nov 29 - MVP/Ingestion/Adobe Analytics/OAS Take Up",
							"baseParameters": {
								"segments": {
									"value": "@pipeline().parameters.segments",
									"type": "Expression"
								},
								"dimensions": {
									"value": "@pipeline().parameters.dimensions",
									"type": "Expression"
								},
								"metrics": {
									"value": "@pipeline().parameters.metrics",
									"type": "Expression"
								},
								"start_date": {
									"value": "@pipeline().parameters.start_date",
									"type": "Expression"
								},
								"end_date": {
									"value": "@variables('end_date')",
									"type": "Expression"
								},
								"output_file_path": {
									"value": "@pipeline().parameters.output_file_path",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "dbw_saeb_dev_01",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set End Date",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "end_date",
							"value": {
								"value": "@formatDateTime(convertTimeZone(utcnow(),'UTC','Eastern Standard Time'), 'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"segments": {
						"type": "string"
					},
					"dimensions": {
						"type": "string"
					},
					"metrics": {
						"type": "string"
					},
					"start_date": {
						"type": "string"
					},
					"output_file_path": {
						"type": "string"
					}
				},
				"variables": {
					"end_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "1. Ingest/Adobe Analytics"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-10T23:46:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dbw_saeb_dev_01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/oas_take_up_internal_link_clicks_nb')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "oas_takeup_internal_link_clicks",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Nov 29 - MVP/Curation/adobe_analytics/clean_oas_takeup_internal_link_clicks"
						},
						"linkedServiceName": {
							"referenceName": "dbw_saeb_dev_01",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2. Curate/Adobe Analytics"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T15:24:25Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dbw_saeb_dev_01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/oas_takeup_all_regions_nb')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OAS_Takeup_All_Regions",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Nov 29 - MVP/Curation/adobe_analytics/clean_oas_takeup_all_regions"
						},
						"linkedServiceName": {
							"referenceName": "dbw_saeb_dev_01",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2. Curate/Adobe Analytics"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T15:24:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dbw_saeb_dev_01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ods_number_of_new_benefits_province')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "number_of_new_benefits",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Nov 29 - MVP/Curation/esdc_open_data/clean_new_benefits_province_type"
						},
						"linkedServiceName": {
							"referenceName": "dbw_saeb_dev_01",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2. Curate/Open Data Sources"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T15:24:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dbw_saeb_dev_01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ods_number_of_new_recipients_provice')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "number_of_recipients",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Nov 29 - MVP/Curation/esdc_open_data/clean_oas_recipients_province_type"
						},
						"linkedServiceName": {
							"referenceName": "dbw_saeb_dev_01",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2. Curate/Open Data Sources"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T15:24:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dbw_saeb_dev_01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ods_number_of_recipients')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "recipients_by_gender",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Nov 29 - MVP/Curation/esdc_open_data/clean_oas_recipients_age_gender"
						},
						"linkedServiceName": {
							"referenceName": "dbw_saeb_dev_01",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2. Curate/Open Data Sources"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T15:24:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dbw_saeb_dev_01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sc_labour_force')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "labour_force",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Nov 29 - MVP/Curation/statscan/clean_LFS"
						},
						"linkedServiceName": {
							"referenceName": "dbw_saeb_dev_01",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2. Curate/Statistics Canada"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T15:24:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dbw_saeb_dev_01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sc_population_projections')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "populations_projections",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Nov 29 - MVP/Curation/statscan/clean_population_projections"
						},
						"linkedServiceName": {
							"referenceName": "dbw_saeb_dev_01",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2. Curate/Statistics Canada"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T15:24:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dbw_saeb_dev_01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sclabs_site_analytics')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ingest SCLabs Site Analytics Data",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Set Output File Path",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Nov 29 - MVP/Ingestion/Adobe Analytics/AA Ingestion Script",
							"baseParameters": {
								"dimensions": {
									"value": "@pipeline().parameters.dimensions",
									"type": "Expression"
								},
								"metrics": {
									"value": "@pipeline().parameters.metrics",
									"type": "Expression"
								},
								"segments": {
									"value": "@pipeline().parameters.segments",
									"type": "Expression"
								},
								"output_file_path": {
									"value": "@variables('output_file_path')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "dbw_saeb_dev_01",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set Output File Path",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "output_file_path",
							"value": {
								"value": "@concat(pipeline().parameters.output_directory, pipeline().parameters.output_filename, formatDateTime(convertTimeZone(utcnow(),'UTC','Eastern Standard Time'),'yyyyMM'), '.csv')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"segments": {
						"type": "string"
					},
					"dimensions": {
						"type": "string"
					},
					"metrics": {
						"type": "string"
					},
					"output_directory": {
						"type": "string"
					},
					"output_filename": {
						"type": "string"
					}
				},
				"variables": {
					"output_file_path": {
						"type": "String"
					}
				},
				"folder": {
					"name": "1. Ingest/Adobe Analytics"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dbw_saeb_dev_01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_webjobs_hosts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_stasaebdevca01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "azure-webjobs-hosts"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_stasaebdevca01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_webjobs_secrets')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_stasaebdevca01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "azure-webjobs-secrets"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_stasaebdevca01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dbw_saeb_dev_01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-374346146549270.10.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "kv_saeb_dev_01",
							"type": "LinkedServiceReference"
						},
						"secretName": "saebdbwadftoken"
					},
					"existingClusterId": "1208-175124-vudctkyu"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kv_saeb_dev_01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/kv_saeb_dev_01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('kv_saeb_dev_01_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_stasaebdevca01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_stasaebdevca01_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adls_stasaebdevca01_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sqlpool_syn_sqlpool_saeb_dev_01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('ls_sqlpool_syn_sqlpool_saeb_dev_01_connectionString')]",
					"credential": {
						"referenceName": "cr_adf",
						"type": "CredentialReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/credentials/cr_adf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/delete-azure-webjobs-hosts')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "delete_azure_webjobs_hosts",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/azure-webjobs-hosts/blobs/",
					"ignoreEmptyBlobs": false,
					"scope": "[parameters('delete-azure-webjobs-hosts_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/delete_azure_webjobs_hosts')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/delete-azure-webjobs-secrets')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "delete_azure_webjobs_secrets",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/azure-webjobs-secrets/blobs/",
					"ignoreEmptyBlobs": false,
					"scope": "[parameters('delete-azure-webjobs-secrets_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/delete_azure_webjobs_secrets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/oas_take_up_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "oas_take_up",
							"type": "PipelineReference"
						},
						"parameters": {
							"segments": "[parameters('oas_take_up_trigger_properties_oas_take_up_parameters_segments')]",
							"dimensions": "[parameters('oas_take_up_trigger_properties_oas_take_up_parameters_dimensions')]",
							"metrics": "[parameters('oas_take_up_trigger_properties_oas_take_up_parameters_metrics')]",
							"start_date": "[parameters('oas_take_up_trigger_properties_oas_take_up_parameters_start_date')]",
							"output_file_path": "[parameters('oas_take_up_trigger_properties_oas_take_up_parameters_output_file_path')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "oas_take_up",
							"type": "PipelineReference"
						},
						"parameters": {
							"segments": "[parameters('oas_take_up_trigger_properties_oas_take_up_parameters_segments')]",
							"dimensions": "[parameters('oas_take_up_trigger_properties_oas_take_up_parameters_dimensions')]",
							"metrics": "[parameters('oas_take_up_trigger_properties_oas_take_up_parameters_metrics')]",
							"start_date": "[parameters('oas_take_up_trigger_properties_oas_take_up_parameters_start_date')]",
							"output_file_path": "[parameters('oas_take_up_trigger_properties_oas_take_up_parameters_output_file_path')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "oas_take_up",
							"type": "PipelineReference"
						},
						"parameters": {
							"segments": "[parameters('oas_take_up_trigger_properties_oas_take_up_parameters_segments')]",
							"dimensions": "[parameters('oas_take_up_trigger_properties_oas_take_up_parameters_dimensions')]",
							"metrics": "[parameters('oas_take_up_trigger_properties_oas_take_up_parameters_metrics')]",
							"start_date": "[parameters('oas_take_up_trigger_properties_oas_take_up_parameters_start_date')]",
							"output_file_path": "[parameters('oas_take_up_trigger_properties_oas_take_up_parameters_output_file_path')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 2,
						"startTime": "2021-12-10T00:00:00",
						"timeZone": "Eastern Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/oas_take_up')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sclabs_site_analytics_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "sclabs_site_analytics",
							"type": "PipelineReference"
						},
						"parameters": {
							"segments": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_segments')]",
							"dimensions": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_dimensions')]",
							"metrics": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_metrics')]",
							"output_directory": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_output_directory')]",
							"output_filename": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_output_filename')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "sclabs_site_analytics",
							"type": "PipelineReference"
						},
						"parameters": {
							"segments": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_segments')]",
							"dimensions": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_dimensions')]",
							"metrics": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_metrics')]",
							"output_directory": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_output_directory')]",
							"output_filename": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_output_filename')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "sclabs_site_analytics",
							"type": "PipelineReference"
						},
						"parameters": {
							"segments": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_segments')]",
							"dimensions": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_dimensions')]",
							"metrics": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_metrics')]",
							"output_directory": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_output_directory')]",
							"output_filename": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_output_filename')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "sclabs_site_analytics",
							"type": "PipelineReference"
						},
						"parameters": {
							"segments": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_segments')]",
							"dimensions": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_dimensions')]",
							"metrics": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_metrics')]",
							"output_directory": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_output_directory')]",
							"output_filename": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_output_filename')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "sclabs_site_analytics",
							"type": "PipelineReference"
						},
						"parameters": {
							"segments": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_segments')]",
							"dimensions": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_dimensions')]",
							"metrics": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_metrics')]",
							"output_directory": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_output_directory')]",
							"output_filename": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_output_filename')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "sclabs_site_analytics",
							"type": "PipelineReference"
						},
						"parameters": {
							"segments": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_segments')]",
							"dimensions": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_dimensions')]",
							"metrics": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_metrics')]",
							"output_directory": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_output_directory')]",
							"output_filename": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_output_filename')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "sclabs_site_analytics",
							"type": "PipelineReference"
						},
						"parameters": {
							"segments": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_segments')]",
							"dimensions": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_dimensions')]",
							"metrics": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_metrics')]",
							"output_directory": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_output_directory')]",
							"output_filename": "[parameters('sclabs_site_analytics_trigger_properties_sclabs_site_analytics_parameters_output_filename')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 2,
						"startTime": "2021-12-10T00:00:00",
						"timeZone": "Eastern Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/sclabs_site_analytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cr_adf')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/19bddd49-8e73-4699-930d-74baa7e5751e/resourcegroups/SAEB-AnalyticsPlatform-Dev/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi_devrg_write"
				}
			},
			"dependsOn": []
		}
	]
}